

.item1 { grid-area: header; }
.item2 { grid-area: topLeft; }
.item3 { grid-area: topRight; }
.item4 { grid-area: bottomLeft; }
.item5 { grid-area: bottomMid; }
.item6 { grid-area: bottomRight;}
.item7 { grid-area: justBottom;}
.item8 { grid-area: footer; }


.body
{
  font-family: 'Exo', sans-serif;
  display: inline;
}

img
{
  height: 10vw;
  width: auto;
  border-radius: 50%;
  box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.6);
}

.grid-container>.item1
{
  height: 2vw;
}
.grid-container>.item1>.headline
{
  margin-left: -75%;
  font-size: 4vw;
  word-spacing: 1vw;
  text-transform: capitalize;
}
.grid-container>.item2,
.grid-container>.item4>p,
.grid-container>.item5>p,
.grid-container>.item6>p
{
  font-size: 1.2vw;
}  
.grid-container>.item4,
.grid-container>.item5,
.grid-container>.item6
{
  
  border-style:groove;
  border-radius: 10%;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.grid-container>.item4
{
  width: 25vw;
  margin-left: 10vw;
}
.grid-container>.item5
{
  width: 25vw;
}
.grid-container>.item6
{
  width: 25vw;
  margin-right: 10vw;
}

h1
{
  font-size: 3vw;
}  
h3,h4
{
  font-size: 2.1vw;
} 
.grid-container>.item7
{
  color: white;
  background-image: url("deposit.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}  

.grid-container>.item8
{
  font-size: 1vw;
}

a{
  text-decoration: none;
}

.textInput, #Countries, .Name
{
  font-size: 1vw;
  border-width: 0.2vw;
  border-style: inset;
}


.grid-container>.item2, .grid-container>.item3
{
  color: white;
  background-image: url("blame.jpg");
  background-attachment: fixed;
  margin-top: 3vw;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 1.5vw;
  padding:2vw;
}

.grid-container>.item2>.content1
{
  margin: auto;
  backdrop-filter: blur(0.7vw);
  background-color: none;
  box-shadow: 2vw 2vw 2vw 1.5vw rgba(0, 0, 0, 0.39);
  text-shadow: 0.7vw 0.7vw 0.7vw rgba(64, 64, 64, 0.96);
  font-size: 1.3vw;
  border-style: outset;
  border-color: rgba(51, 51, 51, 0.2);
  border-radius: 3vw;
  padding: 2vw;
}
.grid-container>.item3>.content2
{ 
  margin: auto;
  width: 70% ;
  padding: 1vw;
  backdrop-filter: blur(0.7vw);
  box-shadow: 2vw 2vw 2vw 1.5vw rgba(0, 0, 0, 0.39);
  text-shadow: 0.7vw 0.7vw 0.7vw rgba(64, 64, 64, 0.96);
  font-size: 1.3vw;
  background-color: rgba(226, 185, 109, 0.497);
  border-style: outset;
  border-color: rgba(226, 185, 109, 0.2);
  border-radius: 5vw;
}
.grid-container>.item7>.content3
{
  backdrop-filter: blur(0.7vw);
  background-color:none;
  box-shadow: 2vw 2vw 2vw 1.5vw rgba(0, 0, 0, 0.39);
  text-shadow: 0.7vw 0.7vw 0.7vw rgba(64, 64, 64, 0.96);
  border-style: outset;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 3vw;
  padding: 1vw;
  width: 50%;
  margin: auto;
}
.grid-container>.item7>.content3>p
{
  font-size: 1.2vw;
}

input, #Countries
{
  border-radius: 3vw;
  outline: none;
  font-size: 1.5vw;
}

.form
{
  padding-left: 0.7vw;
  text-align: left;
  width: 28%;
  border-style:none;
}

#email, #credit
{

  width: 60%;
}
#phone
{
  width: 25%;
}
#secure
{
  width: 12%;
}

button
{
  color: white;
  background-color: rgba(55, 190, 252, 0.605);
  border-color: rgba(5, 109, 184, 0.171);
  letter-spacing: 0.3vw;
  padding-left: 0.7vw;
  padding-right: 0.7vw;
  font-family: 'Bebas Neue', cursive;
  border-width: 0.15vw;
  border-radius: 0.5vw;
  border-style: outset;
  outline: none;

}
button:hover
{
  background-color: rgba(128, 213, 253, 0.605);
  border-color: rgba(84, 140, 181, 0.171);
  border-style:groove;
}
button:active, #date:active
{
  border-width: 0.15vw;
  background-color: rgba(88, 88, 88, 0.266);
  border-color: rgba(55, 55, 55, 0.133);
  border-style: inset;
}
#Countries
{
  padding-left: 0.7vw;
  outline: none;
  border-width: 0.15vw;
  border-style:none;
  border-radius: 10px;
}
#Countries:active
{
  background-color: rgba(255, 255, 255, 0.301);
  border-style: inset;
}
    .grid-container {
        display: grid;
        grid-template-areas:
        'header header header header header header'
        'topLeft topLeft topLeft topRight topRight topRight'
        'bottomLeft bottomLeft bottomMid bottomMid bottomRight bottomRight'
        'justBottom justBottom justBottom justBottom justBottom justBottom'
        'footer footer footer footer footer footer';

      }

      @media (max-width: 600px) {
        .grid-container {
            display: grid;
            grid-template-areas:
            'header header header header header header'
            'topLeft topLeft topLeft topLeft topLeft topLeft'
            'topRight topRight topRight topRight topRight topRight'
            'bottomLeft bottomLeft bottomLeft bottomLeft bottomLeft bottomLeft'   
            'bottomMid bottomMid bottomMid bottomMid bottomMid bottomMid'
            'bottomRight bottomRight bottomRight bottomRight bottomRight bottomRight'
            'justBottom justBottom justBottom justBottom justBottom justBottom'
            'footer footer footer footer footer footer'
            'overlay overlay overlay overlay overlay overlay';

            padding: 10px;
          }
              .grid-container>.item1>.headline
              {
                margin-left: -65%;
                font-size: 7vw;
              }
              .grid-container>.item2
              {
                margin-left: 0;
                box-shadow: none;
              }
              .grid-container>.item2>.content1, .grid-container>.item7>.content3
              {
                background-color: rgba(68, 68, 68, 0.511);

              }
              .grid-container>.item2>.content1,.grid-container>.item3>.content2
              {
                /* margin-left: 25%; */
                width: 100%;
              }
              .grid-container>.item2>.content1>p, .grid-container>.item3>.content2>p
              {
                font-size: 4vw;
              }
              .grid-container>.item3>.content2>button
              {
                text-align: center;
                width: 15%;
                border-style:none;;
              }
              #email, #credit
              {
                width: 40%;
              }
              #secure
              {
                width: 10%;
              }
              #phone
              {
                width: 40%;
              }
              #Countries, .form, button
              {
                font-size: 2vw;
              }
              .grid-container>.item3
              {
                margin-right: 0;
                box-shadow: none;
                margin-top: -2vw;
              } 
              
              .grid-container>.item1>p, 
              .grid-container>.item2>p,
              .grid-container>.item4>p,
              .grid-container>.item5>p,
              .grid-container>.item6>p
              {
                font-size: 3vw;
              } 
              .grid-container>.item4>#advantage,
              .grid-container>.item5>#offer,
              .grid-container>.item6>#about
              {
                font-size: 30px; 
              }
              .grid-container>.item2, .grid-container>.item3
              {
                background-size: 150%;
                background-position-y: 100px;
              }
              .grid-container>.item7
              {
                margin-top: 15vw;
                background-position-y: 410px;
              }
              .grid-container>.item7>.content3
              {
                width: auto;
              }
              .grid-container>.item7>.content3>p
              {
                font-size: 2vw;
              }
              .grid-container>.item4,
              .grid-container>.item5,
              .grid-container>.item6
              {
                width: auto;
                margin: auto;
                margin-top: 1vw;
              }
              .item8>.rights, .item8>a
              {
                font-size: 2vw;
              }
              h1
              {
                font-size: 4vw;
              }  
              h3,h4
              {
                font-size: 3vw;
              } 
            
      }


  .grid-container > div {
    text-align: center;
    padding: 40px;
  }
